.window-frame,
.window-frame:backdrop {
  box-shadow: 0 0 0 black;
  border-style: none;
  margin: 0;
  border-radius: 0;
}

.titlebar {
  border-radius: 0;
}

/* remove window title from Client-Side Decorations */
.solid-csd headerbar .title {
  font-size: 0;
}

/* hide extra window decorations/double border */
window decoration {
  margin: 0;
  border: none;
  padding: 0;
}

* {
  text-shadow: none;
}

VteTerminal,
vte-terminal {
  padding: 44px;
}

.pavucontrol-window tabs tab {
  padding: 16px;
}
.pavucontrol-window .show-volume-meters-check-button {
  padding: 8px;
}

/* Calendar week, day label */
GtkCalendar.highlight
{
	background-color: #398ee7;
	color: white;
	font-weight: bold;
}

/*Calendar content*/
GtkCalendar.view
{
	background-color: #24283b;
}

/* day selected */
GtkCalendar:selected
{
	background-color: #24283b;
}


/* Month and year */
GtkCalendar.header
{
	color: #c0caf5;
}
